﻿
@font-face {
    font-family: Digital-7;
    src: url('../fonts/digital-7 (mono).ttf');
}

body {
    background-color: lightgrey;
}

.game-control {
    width: 380px;
    margin:0 auto;
    text-align: center;
}

.game-status {
   width: 380px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   border: 2px solid black;
   background-color: darkgrey;
}

.game-status p {
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    line-height: 30px;
    font-family: Digital-7;
    font-size: 30px;
    color: red;
}

.game-mines {
    display: inline-block; 
    width: 160px;
    text-align: left;
    vertical-align: middle;
}

.game-state {
    height: 30px;
    width: 30px;
    margin: 0 auto;
    vertical-align: middle;
}

.game-time {
    display: inline-block;
    width: 160px;
    text-align: right;
    vertical-align: middle;
}

.game-board {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.game-board table {
    border-spacing: 0;
    border-collapse: collapse;
}

.game-board td {
    line-height: 0px;
}

.game-menu {
    width: 380px;
    margin:0 auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.game-menu-button {
    color: white;
    background-color: darkgrey;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display:inline;
    min-width: 120px;
    font-weight: bold;
}

.game-menu-button:hover, .game-menu-button:focus {
    background-color: gray;
}

.game-menu-location {
    color: yellow;
    background-color: darkgrey;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 6px;
    font-size: 16px;
    display:inline;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.game-menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.game-menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.game-menu a:hover {
    background-color: #f1f1f1
}

.show {
    display:block;
}

.game-options {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
}

.game-options-label {
    cursor: pointer;
    display: block;
    margin: 1em;
}

.game-options-input {
    margin-right: 1em;
    display: inline;
}

.game-options-span {
    display: inline-block;
    vertical-align: middle;
}

.game-help {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
}

.game-records {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
}

.game-records-title {
    margin: 1em;
}

.game-records-select {
    margin: 1em;
}

.game-records-label {
    margin-right: 1em;
}

.game-records-records {
    margin: 1em;
}

.game-records-table {
    width: 100%;
}

.game-records-header {
    width: 25%;
    text-align: left;
}

.game-view {
    margin-top: 30px;
}

