﻿<!DOCTYPE html>
<html ng-app="minesweeperApp">
<head>
    <title>Minesweeper</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/minesweeper.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="scripts/minesweeper.js"></script>
</head>
<body>
    <div ng-controller="menuController">
        <div class="game-menu">
            <button class="game-menu-button" ng-mouseover="menuShow = true" ng-mouseleave="menuShow = false">MENU</button><p class="game-menu-location">{{ menuLocation }}</p>
            <div class="game-menu-content" ng-class="{'show' : menuShow}">
                <a href="#/" ng-mouseover="menuShow = true" ng-click="menuShow = false">Continue</a>
                <a href="#/new_game" ng-mouseover="menuShow = true" ng-mouseleave="menuShow = false" ng-click="menuShow = false">New game</a>
                <a href="#/zoom_in" ng-mouseover="menuShow = true" ng-mouseleave="menuShow = false" ng-click="menuShow = false">Zoom in</a>
                <a href="#/zoom_out" ng-mouseover="menuShow = true" ng-mouseleave="menuShow = false" ng-click="menuShow = false">Zoom out</a>
                <a href="#/options" ng-mouseover="menuShow = true" ng-mouseleave="menuShow = false" ng-click="menuShow = false">Options</a>
                <a href="#/records" ng-mouseover="menuShow = true" ng-mouseleave="menuShow = false" ng-click="menuShow = false">Best times</a>
                <a href="#/help" ng-mouseover="menuShow = true" ng-mouseleave="menuShow = false" ng-click="menuShow = false">Help</a>
            </div>
        </div>
    </div>
    <div class="game-view">
        <div ng-view></div>
    </div>

</body>
</html>