﻿<div class="game-help">
    <h1>Minesweeper help</h1>
    <p>Minesweeper is a classic Windows game where the goal is to find all 
       empty tiles while avoiding mines.</p>
    <h2>How to play</h2>
    <p>To start the game click on any tile. Notice that the first tile to 
       be clicked is always empty. Also, the clock starts counting with the 
       first click.</p>
    <p>Try to find and avoid all mines. A number on a turned tile gives a 
       hint on how many mines are located next to the tile.</p>
    <p>Game ends when you have found all empty tiles or when you click on a 
       mine. If you found all empty tiles then check the clock for your 
       result.</p>
    <h2>Flagging</h2>
    <p>You can set a flag on a tile by right clicking on it. A flagged tile 
       cannot be turned by clicking on it. To remove the flag from a tile 
       simply right click on the tile again.</p>
    <p>Flagging is helpful when you have found a mine or when you are 
       uncertain whether a tile has a mine or not. It can also help you to 
       keep track of remaining mines. Check the mine counter on the left when 
       flagging a tile.</p>
    <p>Hint, you can use flags to speed up your game as double clicking on a 
       numbered tile turns all unflagged tiles next to it provided that the 
       tile has equal number of flagged tiles next to it. Be aware though 
       that if you flagged wrong tiles you might hit a mine!</p>
</div>


