﻿<div class="game-status">
    <p><span class="game-mines">{{ getMinesLeft() }}</span><img class="game-state" src="{{ getGameState() | gameStateImg }}" ng-click="startNewGame()" /><span class="game-time">{{ getGameTime() | gameTimeString }}</span></p>
</div>
<div class="game-board" ng-style="getBoardStyle()">
    <table cellpadding="0">
        <tr ng-repeat="row in game.board.table">
            <td ng-repeat="tile in row">
                <img src="{{ getTileStatus(tile) | tileStatus }}"
                        ng-click="clickTile(tile)"
                        ng-right-click="flagTile(tile)"
                        ng-dblclick="doubleClickTile(tile)"
                        height="{{ getTileSize() }}"
                        width="{{ getTileSize() }}" />
            </td>
        </tr>
    </table>
</div>
