﻿<div class="game-options">
    <h3>Game difficulty</h3>
    <label class="game-options-label">
        <input type="radio" 
               name="difficulty" 
               value="easy" 
               ng-model="difficulty" 
               class="game-options-input"/><span class="game-options-span">Easy<br/>{{ 'easy' | gameSize: 'mines' }}<br/>{{ 'easy' | gameSize: 'tiles' }}<br/></span><br/>
    </label>
    <label class="game-options-label">
        <input type="radio" 
               name="difficulty" 
               value="medium" 
               ng-model="difficulty" 
               class="game-options-input"/><span class="game-options-span">Medium<br/>{{ 'medium' | gameSize: 'mines' }}<br/>{{ 'medium' | gameSize: 'tiles' }}<br/></span><br/>
    </label>
    <label class="game-options-label">
        <input type="radio" 
               name="difficulty" 
               value="hard" 
               ng-model="difficulty" 
               class="game-options-input"/><span class="game-options-span">Hard<br/>{{ 'hard' | gameSize: 'mines' }}<br/>{{ 'hard' | gameSize: 'tiles' }}<br/></span><br/>
    </label>
    <button ng-click="applyOptions()">Apply</button><button type="button" ng-click="cancelOptions()">Cancel</button>
</div>

