﻿<div class="game-records">
    <div class="game-records-title">
        <h3>Best times</h3>
    </div>
    <div class="game-records-select">
        <p>Select difficulty:</p>
        <label class="game-records-label">
            Easy
            <input type="radio"
                   name="difficulty"
                   value="easy"
                   ng-model="difficulty"
                   class="game-records-input" />
        </label>
        <label class="game-records-label">
            Medium
            <input type="radio"
                   name="difficulty"
                   value="medium"
                   ng-model="difficulty"
                   class="game-records-input" />
        </label>
        <label class="game-records-label">
            Hard
            <input type="radio"
                   name="difficulty"
                   value="hard"
                   ng-model="difficulty"
                   class="game-records-input" />
        </label>
    </div>
    <div class="game-records-records">
        <table class="game-records-table">
            <tr class="game-records-header-row">
                <th class="game-records-header">Position</th>
                <th class="game-records-header">Time</th>
                <th class="game-records-header">Player</th>
                <th class="game-records-header">Date</th>
            </tr>
            <tr ng-repeat="record in records" class="game-records-row">
                <td>{{ $index + 1 }}</td>
                <td>{{ record.time | gameTimeString }}</td>
                <td>{{ record.player }}</td>
                <td>{{ record.date | dateConvert | date : "yyyy/MM/dd HH:mm:ss" }}</td>
            </tr>
        </table>
    </div>
</div>
